<% layout("/layouts/boilerplate") %> 
<style>
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* scroll remove */
}

.home-h-container {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    height: 100vh;           /* full viewport height */
    text-align: center;
}
.home-h-container h1{
    font-size: 3em;
    font-family: "Plus Jakarta Sans", sans-serif !important;
}
</style>

<body>
    <div class="home-h-container">
        <h1> <b>Welcome to my World</b> </h1>
    </div>
</body>